@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 99 102 241;
		--color-primary-hover: 67 56 202;
	}
	body > * {
		min-height: 100vh;
	}
	* {
		outline: none;
	}
	*:disabled {
		pointer-events: none;
	}
	.bgblur {
		@apply bg-neutral-800/80;
	}
	@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
		.bgblur {
			@apply bg-neutral-800/80;
		}
		.bgblur::before {
			@apply absolute left-0 top-0 -z-10 block h-full w-full backdrop-blur-md content-[''];
		}
	}
}
